* {
  box-sizing: border-box;
  -oz-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #FAFAFA;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.main-container {
  width: 300px;
  height: 250px;
  border-radius: 3px;
  padding: 10px;
  background-color: white;
  margin: 20vh auto 0;
  border: 1px solid #e0e0e0;
}

.upper-container {
  width: inherit;
  min-height: 170px;
  overflow: hidden;
  border-radius: 2px;
}

.lower-container {
  width: 100%;
  min-height: 62px;
  margin-top: 10px;
}

.thumb-list li {
  display: inline;
  margin-left: 5%;
}

.thumb-list li:first-child {
  margin-left: 0;
}

.thumbs {
  height: auto;
}

.main-display {
  position: relative;
}

.main-display,
.thumbs {
  transition: all .3s ease-in-out;
  border-radius: 2px;
  opacity: .9
}

.main-display:hover,
.thumbs:hover {
  cursor: pointer;
  opacity: 1;
  -webkit-box-shadow: 1px 5px 11px -1px rgba(168,168,168,1);
  -moz-box-shadow: 1px 5px 11px -1px rgba(168,168,168,1);
  box-shadow: 1px 5px 11px -1px rgba(168,168,168,1);
}

.animate {
  transform: translateY(100%);
  opacity: 0;
}
